<div class="wrapper">
  <div class="row justify-content-center">
      <div class="col-lg-6 d-flex justify-content-center">
          <div class="card" style="width:2000rem">
              <div class="card-body text-center">
                  <h1>Ajouter une université</h1>
                  <div class="container">
                      <form (submit)="ajouterUniv(univForm)" #univForm="ngForm">
                          <div class="col-s-6">
                            <div class="form-group mb-3">
                                <div>
                                  <input type="text" name="nomU" ngModel #nomUnivInput="ngModel" class="form-control text-center" placeholder="veillez saisir le nom de votre université"/>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                              <div>
                                <input type="text" name="adresseU" ngModel #adresseUniv="ngModel" class="form-control text-center" placeholder="veillez saisir l'adresse"/>
                              </div>
                          </div>
                          <div class="form-group mb-3">
                            <div>
                              <input type="text" name="image" ngModel #image="ngModel" class="form-control text-center" placeholder="veillez saisir l'image"/>
                            </div>
                        </div>
                        </div>
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary btn-lg my-3">
                            Ajouter
                          </button>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
