<div class="container mt-5 mb-5">
  <div class="card">
      <div class="row g-0">
          <div class="col-md-6 border-end">
              <div class="d-flex flex-column justify-content-center">
                  <div class="main_image"><img src={{university.image}} width="700" height="500"></div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="p-3 right-side">
                  <div class="d-flex justify-content-between align-items-center">
                      {{university?.nomU}}
                  </div>
                  <div class="mt-2 pr-3 content">
                      <p>{{university?.adressU}}</p>
                      <p>{{departements?.length}}</p>

                  </div>

                  <div class="ratings d-flex flex-row align-items-center">
                      <div class="d-flex flex-row"> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i> </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
